################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Dogs_App1/FileContentIndex/202ac417-5433-45a5-9913-347b633d67ce.vsidx
/.vs/Dogs_App1/FileContentIndex/3eba92e5-3399-4ffd-9b31-c7b465c9aeb5.vsidx
/.vs/Dogs_App1/FileContentIndex/4ac6019e-e2b7-4364-9588-d708accf300b.vsidx
/.vs/Dogs_App1/FileContentIndex/f5268147-3d2b-460b-aa6f-6c90b332ad75.vsidx
/.vs/slnx.sqlite
/.vs/Dogs_App1/FileContentIndex
/.vs/Dogs_App1/v18/DocumentLayout.json
